version: '3.4'

services:
  mongo_incidents:
    image: mongo
    command: mongod --port 27018
    ports:
      - "27018:27018"

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: kafka
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  incidashboard:
    build:
      context: .
      network: host
    image: incidashboard_i2b
    ports:
      - "8082:8082"
    depends_on:
      - kafka
      - mongo_incidents
