<script th:inline="javascript">
    /*<![CDATA[*/
    var notifications = [[${numNotifications}]];
    var currentOperator = [[${opEmail}]];

    function increaseNavCount() {
        notifications++;
        $("#numNotifications").text(notifications + " new!");
        $("#numNotifications").addClass("uk-badge");
        console.log("Increased nav count");
    }

    function resetNavCount() {
        $("#numNotifications").text("");
        $("#numNotifications").removeClass("uk-badge");
        notifications = 0;
        console.log("Reseted nav count");
    }

    /*]]>*/
</script>

<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="/dashboard/maps">Map</a>
            </li>
            <li class="uk-active">
                <a href="/dashboard/charts">Chart</a>
            </li>
            <li class="uk-active">
                <a href="/incidents">
                    Your incidents
                    <span id="numNotifications" th:class="${numNotifications == 0 ? '' : 'uk-badge'}"
                            th:text="${numNotifications == 0 ? '' : numNotifications + ' new!'}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
