<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active">
                <a href="/dashboard/maps">Map</a>
            </li>
            <li class="uk-active">
                <a href="/dashboard/charts">Chart</a>
            </li>
            <li class="uk-active">
                <a href="/dashboard/notifications">
                    [[${'Notifications'}]]
                    <span class='uk-badge' th:text="${numNotifications + '-test'}"></span>
                </a>
            </li>
            <li class="uk-active">
                <a href="/dashboard/realTime">Real Time Incidences</a>
            </li>
        </ul>
    </div>
</nav>
