<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>
<link href="/css/c3.css" rel="stylesheet">

<body>
    <nav th:replace="fragments/nav"></nav>
    <div class="uk-container">
        <h2>Charts</h2>

        <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-card-default">
                <div class="col-6" id="stacked-bar-chart"></div>
            </div>
            <div class="uk-card uk-card-body uk-card-default">
                <div class="col-6" id="donut-chart"></div>
            </div>
            
        </div>
        <div class="uk-grid-medium uk-child-width-expand@s uk-text-center" uk-grid>
            <div class="uk-card uk-card-body uk-card-default uk-margin-bottom uk-margin-top">
                <div id="line-chart"></div>
            </div>
        </div>
    </div>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/script/c3.min.js"></script>
    <!-- sockets -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/script/charts/chart_sockets.js"></script>

	<!-- Charts cannot be extracted to a file due to AJAX issues -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        // dictionary containing the number of incidences of each type
        var sensorsSize = [[${ sensors }]];
        var peopleSize = [[${ people }]];
        var entitiesSize = [[${ entities }]];

        var sensorColumn = ['Sensor', sensorsSize];
        var peopleColumn = ['Person', peopleSize];
        var entitiesColumn = ['Entity', entitiesSize];

        var donutChart = c3.generate({
            bindto: '#donut-chart',
            data: {
                columns: [
                    sensorColumn,
                    entitiesColumn,
                    peopleColumn
                ],
                type: 'donut',
            },
            donut: {
                title: 'Incidence ratio'
            }
        });

        function updatePieChart(incident) {
            if (incident.agent.kind === "Person") {
                peopleColumn[1] += 1;
            } else if (incident.agent.kind === "Sensor") {
                sensorColumn[1] += 1;
            } else if (incident.agent.kind === "Entity") {
                entitiesColumn[1] += 1;
            }

            donutChart.load({
                columns: [
                    sensorColumn,
                    entitiesColumn,
                    peopleColumn
                ]
            });
        }
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var columnX = [[${ keys }]];
        var columnY = [[${ values }]];

        var barChart = c3.generate({
            bindto: '#stacked-bar-chart',
            data: {
                x: 'x',
                columns: [
                    ['x'].concat(columnX),
                    ['Tags Usage'].concat(columnY)
                ],
                type: 'bar'
            },
            axis: {
                x: {
                    type: 'category',
                    tick: {
                        multiline: true
                    },
                }
            },
            bar: {
                width: {
                    ratio: 0.5
                }
            },
        });

        function updateBarChart(incident) {
            var tags = incident.tags;
            for (var ik = 1; ik < columnX.length; ik++) {
                var key = columnX[ik];
                for (var it in tags) {
                    var tag = tags[it];
                    if (key === tag) {
                        columnY[ik] += 1
                    }
                }
            }

            barChart.load({
                columns: [
                    columnX,
                    columnY
                ]
            });
        }
        /*]]>*/
    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var incidences = [[${ temperatures }]]
        var temperatures = incidences.map(function (i) {
            return i.properties.temperature;
        })
        var modulo = [];
        for (let index = 0; index < temperatures.length; index++) {
            modulo.push(index % 24);
        }
        var tempChart = c3.generate({
            bindto: '#line-chart',
            data: {
                x: 'x',
                columns: [
                    ['x'].concat(modulo),
                    ['Temperature'].concat(temperatures)
                ]
            },
            axis: {
                x: {
                    type: 'category',
                    tick: {
                        count: 6
                    }
                }
            }
        });
    /*]]>*/
    </script>
</body>
<footer th:replace="fragments/footer">
</footer>
</html>