<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
        <link rel="stylesheet" href="/css/incidetails.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/script/incidents_update.js"></script>

    <nav th:replace="fragments/nav"></nav>
    <div class="uk-container">
        <h1 class="uk-heading-primary uk-text-center uk-margin-bottom uk-margin-top">Your incidents</h1>
        <div id="inciList" th:each="incident : ${incidents}">
			<div class="uk-card uk-card-default uk-width-1-2@m uk-align-center uk-margin-bottom">
                <div class="uk-card-header">
                    <h3 class="uk-card-title uk-text-center" th:text="${incident.getInciName()}"></h3>
                </div>
                <div class="uk-card-body">

                    <p class="uk-text-center" th:text="${'Incident sent from agent named ' + incident.getAgent().getUsername()
                    + ' of kind ' + incident.getAgent().getKind() + '.'}"></p>

                    <!-- Location -->
                    <div class="location uk-margin-small-bottom">
                        <h4 class="uk-heading-bullet">Location</h4>
                        <ul class="uk-list uk-list-bullet">
                            <li th:text="'Latitude: ' + ${incident.getLocation().latitude}">Latitude</li>
                            <li th:text="'Longitude: ' + ${incident.getLocation().longitude}">Longitude</li>
                        </ul>
                    </div>

                    <!-- Tags -->
                    <div class="tags uk-margin-small-bottom" th:unless="${#lists.isEmpty(incident.getTags())}">
                        <h4 class="uk-heading-bullet">Tags:</h4>
                        <ul class="uk-list uk-list-striped">
                            <li th:each="tag : ${incident.getTags()}" th:text="${tag}"></li>
                        </ul>
                    </div>

                    <!-- Properties -->
                    <div class="properties" th:unless="${#lists.isEmpty(incident.getProperties().keySet())}">
                        <h4 class="uk-heading-bullet">Properties:</h4>
                        <ul class="uk-list uk-list-divider">
                            <li th:each="key : ${incident.getProperties().keySet()}"
                                th:text="${key + ': ' + incident.getProperties().get(key)}"></li>
                        </ul>
                    </div>
                </div>
                <div th:if = "${incidentModify == true}" class="uk-card-footer">
                    <a th:href="${'/incident/' + incident.getInciName() + '/details'}"
                       class="uk-button uk-button-text uk-align-center">Modify</a>
                </div>
            </div>
        </div>
    </div>

</body>
<footer th:replace="fragments/footer">
</footer>
</html>
