<!DOCTYPE html>
<html lang="en">

<head th:replace="/fragments/head">
</head>

<body>
    <nav th:replace="/fragments/nav"></nav>
    <div class="uk-container">
        <div class="uk-column-1-2"></div>
        <div id="map_div" style="width: 400px; height: 300px"></div>
        <!--<div id="regions_div" style="width: 900px; height: 500px;"></div>-->
        <script th:inline="javascript">
            /*<![CDATA[*/
            function initMap() {
                var map = new google.maps.Map(document.getElementById("map_div"), {
                    zoom: 5,
                    center: {
                        lat: 40.416944,
                        lng: -3.684326
                    }
                });
                var incidents = /*[[${ incidents }"]]*/;
                var markers = [];
                incidents.forEach(element => {
                    markers.push(new google.maps.Marker({
                        position: {
                            lat: element.location.latitude,
                            lng: element.location.longitude
                        },
                        title: element.inciName,
                        map: map
                    }));
                });
            }
            /*]]>*/
        </script>
        <script src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyAeN23rfAUlKlCk4xjiFV7waULxBJ1j370&callback=initMap" async defer></script>
    </div>
</body>

</html>