<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head"></head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <nav th:replace="fragments/nav"></nav>
    <div class="uk-container">
        <h2>All operators</h2>
        <table class="uk-table uk-table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Permissions</th>
                    <th>Admim</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="operator : ${operators} ">
                    <td th:text="${operator.email}"></td>
                    <td th:text="${operator.operatorname}"></td>
                    <td>
                    	<p th:text = "${operator.chartAcess}"></p>
                        <label th:for="${'map' + '__${operator.email}__'}">Map</label>
                        <div th:if="${operator.chartAcess}">
                        	<input th:id="${'map' + '__${operator.email}__'}" type='checkbox'  name='Incidents' onchange='' checked>
                        </div>
                        <label th:for="${'chart' + '__${operator.email}__'}">Chart</label>
						<input th:id="${'chart' + '__${operator.email}__'}" type='checkbox' name='Chart' onchange='' checked>
                        <label th:for="${'incidents' + '__${operator.email}__'}">Incidents</label>
						<input th:id="${'incidents' + '__${operator.email}__'}" type='checkbox' name='Map' onchange='' checked>
                    </td>
                    <td>
                    	<input type='checkbox' name='Admin' onchange='' checked>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<footer th:replace="fragments/footer"></footer>

</html>